{% extends "qa/base/base.html" %}

{% block body %}
    <div class="container">
        <div class="row">
            <span class="error">{{error}}</span>
            <form action="" method="POST" class="col s12">
                {% csrf_token %}
                {# Needs fixing for catergory errors and textfield #}
                {% for field in form %}
                    <div class="row">
                        <div class="error_field col s12">
                            {{field.error}}
                        </div>
                        <div class="input-field col s2">
                              <label>{{field.label_tag}}</label>
                        </div>
                        <div class="input-field col s8">

                              {{field}}
                        </div>
                        <div class="col s2">
                              <a class="tooltipped" data-position="bottom" data-delay="50" data-tooltip="{{field.help_text}}"><i class="material-icons">info_outline</i></a>
                        </div>
                    </div>
                {% endfor %}
                <div class="row">
                    <div class="col s12">
                    <script src='https://www.google.com/recaptcha/api.js'></script>
                    <div class="g-recaptcha" data-sitekey="{{sitekey}}"></div>
                    </div>
                </div>
                 <div class="row">
                        <div class="input-field col s12">
                          <button type="submit" class="btn">Vraag!</button>
                        </div>
                </div>
            </form>
        </div>
    </div>
{% endblock body %}

{% block extra_scripts %}
    <script type='text/javascript'>
      $(document).ready(function(){
        $('.tooltipped').tooltip({delay: 50});
      });
    </script>
{% endblock extra_scripts %}
