{% extends "main/base/base.html" %}
{% load  staticfiles %}

{% block nav %}
    {# Get rid of the navbar #}
{% endblock nav %}

{% block body %}
    <div class="header">
        <div class="full_screen_slide">
              <div class="slider">
                <ul class="slides">
                  <li>
                    <img src="{% static "main/img/network.png" %}">
                    <div class="caption center-align">
                      <h3><span>Wat weten facebook en google over jou?</span></h3><br>
                      <h5 class="light grey-text text-lighten-3"><a href="{% url 'info_article_index' %}">Leer meer >></a></h5>
                    </div>
                  </li>
                  <li>
                    <img src="{% static "main/img/laptop_wifi.jpg" %}">
                    <div class="caption left-align">
                      <h3><span>Hoe kan je jezelf beschermen op een openbaren wifi-hotspot?</span></h3><br>
                      <h5 class="light grey-text text-lighten-3"><a href="{% url 'info_article_index' %}">Leer het nu!</a></h5>
                    </div>
                  </li>
                  <li>
                    <img src="{% static "main/img/facebook-76536.png" %}">
                    <div class="caption right-align">
                      <h3><span>Hoe krijg ik me facebook profiel op prive?</span></h3><br>
                      <h5 class="light grey-text text-lighten-3"><a href="{% url 'info_article_index' %}">Leer het nu!</a></h5>
                    </div>
                  </li>
                  <li>
                    <img src="{% static "main/img/security.jpg" %}">
                    <div class="caption center-align">
                      <h3><span>Bescherming van jezelf online begint met het begrijpen hoe je kan worden aangevallen!</span></h3><br>
                      <h5 class="light grey-text text-lighten-3"><a href="{% static "main/img/facebook-76536.png" %}">Leer nu de meeste voorkomende aanvallen (en hoe je jezelf kunt beschermen!)! </h5></a>
                    </div>
                  </li>
                </ul>
              </div>
        </div>
    </div>
    <div class="fixed-action-btn">
        <a class="btn-floating btn-large blue" href="#nav" onclick="$(this).hide()">
          <i class="large material-icons">arrow_downward</i>
        </a>
    </div>
    <nav class="nav-extended blue" id="nav">
        <div class="nav-wrapper">
            <div class="container center">
                <span id="index-nav-title">Jouw Privacy</span>
            </div>
        </div>
    </nav>
    </div>
    <div class="container">
        <header>
            <h2 class="center">
                Hackers, Privacy, Spam en Phising
            </h2>
            <h4 class="center">
                Hoe bescherm je jezelf? <strong>en</strong> Wat weet jij over je eigen bescherming?
            </h4>
        </header>
    </div>
{% endblock body %}

{% block extra_scripts %}
    <script>
     $(function(){
        h = $(window).height();
        $('.slider').slider({height: h}).css('height', h+'px');
        $('.indicators').remove();
      });
    </script>
{% endblock extra_scripts %}
