{# Extend the base of the qa #}
{% extends "qa/base/base.html" %}

{# Change the nav bar to fit the homepage #}
{% block nav %}
  <nav>
      <div class="nav-wrapper {% block nav_color %}blue{% endblock nav_color %}">
      <a href="{% url 'main_index' %}" class="brand-logo left">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<i class="material-icons">home</i></a>
      <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>

      {% block nav_items%}
        <ul class="right">
          <li><a href="{% url 'qa_add_question' %}"><i class="material-icons">add</i></a></li>
        </ul>
      {%endblock nav_items%}
  </nav>
{% endblock nav %}

{# List all published questions #}
{% block body %}
    <div class="container">
        <div class="row">
            {% if questions %}
                {% for question in questions  %}
                    <a href="{% url 'qa_question_detail' question.pk %}" class="white-text">
                        <div class="col s12 m6">
                            <div class="card {{question.color}}">
                                <div class="card-content">
                                    <span class="card-title">
                                        <strong>{{question.question}}</strong>
                                    </span>
                                    <p>
                                        {{question.awnser|truncatechars:50|striptags}}
                                    </p>
                                </div>
                            </div>
                        </div>
                    </a>
                {% endfor %}
            {% endif %}
        </div>
    </div>
{% endblock body %}
