{# Extend the qa base #}
{% extends "qa/base/base.html" %}

{# Thanks the uer for the question #}
{% block body %}
    <div class="container">
        <h1 style="text-align: center;">Bedankt voor uw vraag!</h1>
        <h2 style="text-align: center;">Uw vraag zal zo snel mogenlijk beantwoord worden!</h2>
    </div>
{% endblock body %}

{# Auto redirects the user to the qa index #}
{% block extra_scripts %}
    <script type='text/javascript'>
        window.setTimeout(function(){

        window.location.href = "{% url 'qa_index' %}";

    }, 5000);
    </script>
{% endblock extra_scripts %}
